{% extends 'base3.html.twig' %}

{% block title %}Candidata index{% endblock %}

{% block stylesheets %}
  <link href="/Util/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
  <link href="/Util/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
{% endblock %}

{% block body %}
  <div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
      <h3 class="text-themecolor">Lista Candidatas</h3>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
        <li class="breadcrumb-item active">Lista candidatas</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <!-- column -->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-block">
          <div class="">
            <table class="table table-striped table-bordered table-responsive" width="100%"
                   id="dataTables-example">
              <thead>
              <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Tipo Documento</th>
                <th>Numero Documento</th>
                <th>Fecha de Nacimiento</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Categoria</th>
                <th>Fecha de ingreso</th>
              </tr>
              </thead>
              <tbody>
              {% for candidatum in candidatas %}
                <tr>
                  <td>{{ candidatum.nombres }}</td>
                  <td>{{ candidatum.apellidos }}</td>
                  <td>{{ candidatum.tipoDoc }}</td>
                  <td>{{ candidatum.numeroID }}</td>
                  <td>{{ candidatum.fechaNacimiento }}</td>
                  <td>{{ candidatum.email }}</td>
                  <td>{{ candidatum.telefono }}</td>
                  <td>{{ candidatum.direccion }}</td>
                  <td>
                      {% for categoria in candidatum.categorias %}
                          {{ categoria }}
                      {% endfor %}
                  </td>
                  <td>{{ candidatum.fechaIngreso ? candidatum.fechaIngreso|date('Y-m-d') : '' }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascripts %}
  <script src="/Util/datatables/js/jquery.dataTables.js"></script>
  <script src="/Util/datatables-plugins/dataTables.bootstrap.js"></script>
  <script src="/Util/datatables-responsive/dataTables.responsive.js"></script>
  <script>
      $(document).ready(function () {
          $('#dataTables-example').DataTable({
              responsive: true
          });
      });
  </script>
{% endblock %}