{% extends 'base2.html.twig' %}

{% block title %}Edit TipoSocio{% endblock %}

{% block body %}
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Editar tipo de Socio</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading"> Tipo de Socio</div>
          <div class="panel-body">
            {{ form_start(form) }}
            {{ include('tipo_socio/_form.html.twig') }}
            <br/>
            <div class="row">
              <div class="col-md-2">
                <button type="button" class="btn btn-success">{{ ('Actualizar') }}</button>
                {{ form_end(form) }}
              </div>
              {{ include('tipo_socio/_delete_form.html.twig',{'button_label': 'Eliminar'}) }}
            </div>
            <hr/>
            <a href="{{ path('tipo_socio_index') }}">volver</a>

          </div>
        </div>
      </div>
    </div>
  </div>

  {#{% block javascripts %}#}
  {#<script>#}
  {#$(".c-btn-success").find('.btn').addClass('btn-success')#}
  {#</script>#}
  {#{% endblock %}#}

{% endblock %}