{% extends 'layout.html.twig' %}

{% block title %}TipoSocio{% endblock %}

{% block body %}
    <h1>TipoSocio</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipo_socio.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tipo_socio.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tipo_socio_index') }}">back to list</a>

    <a href="{{ path('tipo_socio_edit', {'id': tipo_socio.id}) }}">edit</a>

    {{ include('tipo_socio/_delete_form.html.twig') }}
{% endblock %}