{% extends 'base2.html.twig' %}

{% block title %}Editar Socio{% endblock %}

{% block body %}
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Editar Socio</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading"> Socio</div>
          <div class="panel-body">
            {{ form_start(form) }}
            {{ include('socio/_form.html.twig') }}
            <br/>
            <div class="row">
              <div class="col-md-2">
                <button type="submit" class="btn btn-success">{{ ('Actualizar') }}</button>
                {{ form_end(form) }}
              </div>
              {{ include('socio/_delete_form.html.twig',{'button_label': 'Eliminar'}) }}
            </div>
            <hr/>
            <a href="{{ path('socio_index') }}">Volver</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}