{% extends 'base.html.twig' %}

{% block title %}Socio index{% endblock %}

{% block body %}
    <h1>Socio index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Nit</th>
                <th>Representante</th>
                <th>CedulaRepresentante</th>
                <th>CorreoRepresentante</th>
                <th>TelefonoRepresentante</th>
                <th>FechaIngreso</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for socio in socios %}
            <tr>
                <td>{{ socio.id }}</td>
                <td>{{ socio.nombre }}</td>
                <td>{{ socio.nit }}</td>
                <td>{{ socio.representante }}</td>
                <td>{{ socio.cedulaRepresentante }}</td>
                <td>{{ socio.correoRepresentante }}</td>
                <td>{{ socio.telefonoRepresentante }}</td>
                <td>{{ socio.fechaIngreso ? socio.fechaIngreso|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('socio_show', {'id': socio.id}) }}">show</a>
                    <a href="{{ path('socio_edit', {'id': socio.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('socio_new') }}">Create new</a>
{% endblock %}